<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
<title>{{ page.title }} - {{ site.title }}</title>
<link
  rel="icon"
  type="image/png"
  href="{{ site.url }}/style/favicons/favicon.ico"
/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="wuxi"
  href="{{ site.url }}/feed.xml"
/>
<meta charset="UTF-8" />
<link
  rel="shortcut icon"
  href="{{ site.url }}/style/favicons/favicon.ico"
  type="image/x-icon"
/>
<meta
  name="keywords"
  content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}"
/>
<meta
  name="description"
  content="nothing is more practicla than a good theory"
/>
<link
  href="https://cdn.bootcss.com/highlight.js/9.10.0/styles/xcode.min.css"
  rel="stylesheet"
/>
<link href="{{ site.url }}/style/style.css" rel="stylesheet" />
